/application/configuration/config_live.ini
/application/configuration/config_qa.ini
/application/configuration/instalScript.sql
/application/configuration/olddatadump.sql
/application/logs/
/temp/cache/
/temp/db/
/nbproject/
/piwikCodeFromLayout.php
/public/uploads/