/* 
    Document   : tablet
    Created on : 7.6.2014, 12:21:15
    Author     : Tomy
    Description: Marko.in stylesheet for tables
        
*/
root { 
    display: block;
}
html{
    background:black url('../images/marko_in_bg.jpg') center center fixed no-repeat;
    background-size: Contain;
}

@font-face { 
    font-family: 'stencilla'; 
    src: url('../fonts/stencilla.ttf'); 
    _src: url ('../fonts/stencilla.ttf'); 
    font-weight: normal;
    font-style: normal;
}

/* ---------- Main style config ---------- */
body {
    margin:0;
    padding: 0;
    font:15px 'Calibri', sans-serif;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 600px;
}

a { color: #999;}
a:hover{color: #ccc;}

#spacer {
    margin: 0px;
    padding: 0px;
    clear: both;
    width: 100%;
    height: 2px;
    line-height: 0px;
    font-size: 0px;
}

/* ---------- Index page style ---------- */

#page {position: relative; width: 100%; z-index: 20;}
#main {position: relative; width: 100%; height: auto; }
#temptopdiv{margin-top: 41%;}

#news, #collection, #news-detail, #showaction{
    position: absolute;
    top: 55px; left: 7%;
    overflow-y: auto;
    overflow-x: no-content;
    width: 85%;
    height: auto;
    padding: 10px;
}

#news, #collection, #news-detail, #showaction{
    border-width: 4px;
    -moz-border-image:url('../images/ramecek.png') 4 4 4 4 stretch stretch; /* Firefox */
    -webkit-border-image:url('../images/ramecek.png') 4 4 4 4 stretch stretch; /* Safari */
    -o-border-image:url('../images/ramecek.png') 4 4 4 4 stretch stretch; /* Opera */    
    border-image:url('../images/ramecek.png') 4 4 4 4 stretch stretch;
    border-style:solid;
}

#news, #collection, #news-detail, #showaction{
    background:url('../images/div_bg.png');
    -moz-background-size:100% 100%; 
    background-size:100% 100%;
}

#footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 13px;
}

#footer .mailto{color:white;}

.main-fb-like{position: fixed;bottom: 1%; right:-8%;}
/* ---------- Menu ---------- */

#navi{
    margin-top: 20px;
    padding: 5px;
    line-height: 100%;
    height: 70px;
    width: 100%;
}

#navi h1{font-size: 20px !important;}
#navi li:first-child{margin-left: 8%;}
#navi li {
    width: 9%;
    margin-left: 6%;  
    float: left;
    position: relative;
    list-style: none;
    
}
/* main level link */
#navi a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 55px;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .9); 
    padding: 8px;
    background: url('../images/KOLOGO.png') 50% 1% no-repeat;
}

#navi a h1{
    margin-top: 50px;
}

/* main level link hover */
#navi .active a, #navi li:hover a{
    text-shadow: 0 3px 3px rgba(0, 0, 0, .9);
    color: grey;
}

/* clearfix */
#navi:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* ---------- News --------- */
#news img {margin-left: 1%;}

.news-wrapper{
    display: block;
    border-bottom: 1px solid white;
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
}
.news-detail-wrapper{display: block; padding: 15px;}

.news-title{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.news-read-more{text-decoration: none;}
.news-created{
    margin-bottom: 8px;
    font-style: italic;
    font-size: 11px;
}

.news-fblikebtn{display: block; padding: 15px; width: 150px; float: right; overflow-x: hidden;}
.news-fblikebtn:after{clear: both;}

/* ---------- Section content ----------*/
.section-title{font-size: 22px; font-weight: bold; padding: 8px;}

.section-content-text{position: relative; margin: 20px; color: white;}
.section-content-photos{position: relative; margin: 10px;}
.section-content-photos img{margin: 5px;}
.section-content-photos .socialIcon{text-decoration: none; margin-top: 15px;}
.section-content-collection{}
.section-content-collectionList{position: relative; margin: 20px; line-height: 30px;}
.section-content-videos{position: relative; margin: 15px;}
.section-content-videos iframe{margin: 0;}

.collection-title{font-size: 23px; font-weight: bold; padding: 8px;}
.collection-link, .message-empty{font-size: 20px; margin: 6px; color: #fff;}

.center{text-align: center;}
.float-right{float: right;}
.float-left{float: left;}
.clear{clear:both;}
.nodisplay {display: none;}
.fs25{font-size: 25px;}

a.close {position: inherit; top:5px; left: 90%;}

/* --------- pagination --------------- */
.paginationCont{padding: 15px;}

.pagination { list-style: none; overflow: hidden;}
.pagination li { display: inline-block; float: left; margin-right: 5px; }
.pagination li.first, .pagination li.previous, .pagination li.next, .pagination li.last { font-size: 18px; }
.pagination li a { display: block; font-weight: bold; border: 1px solid #ccc; padding: 5px 10px; color: #333; line-height: 21px; vertical-align: top; }
.pagination li a { background: #f7f7f7; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.pagination li a:hover { cursor: pointer; text-decoration: none; background: #eee; }
.pagination li a.current { background: #666; color: #fff; border: 1px solid #272727; }
.pagination li.first a:active, .pagination li.previous a:active, .pagination li.next a:active, .pagination li.last a:active {
    background: #333; color: #fff; border: 1px solid #272727;
}
.pagination li a.disable { color: #ccc; }
.pagination li a.disable:hover { background: #f7f7f7; cursor: default; }
.pagination li a.disable:active { background: #f7f7f7; border: 1px solid #ccc; color: #ccc; }

/* ------------------------ special font elements -------------------*/

.stencilla {font-family: 'stencilla', sans-serif; font-size: 14px;}
.ancSignature{margin-left: 75%;}

.styling-photos{width: 39%;}
.styling-videos{width: 56%;}

/* třída pro skrývání H1 u articlu*/
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}